 body{
    margin: 0;
    padding: 0;
    font-family: math;
}
*{
    box-sizing: border-box;
  }
  .progect{
    background-color:#000000;
    color: #ffffff ;
  }
::selection{
    background-color: #ffffff;
    color: #000000;
  }
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8%;
    background-color: black;
    position: fixed;
    padding: 0px 30px;
  }
  .logo,
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(110% / 5);
    list-style-type: none;
}
.logo img{
    display: flex;
    margin-left: -40%;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 75%;
    
}

li a{
    text-decoration: none;
    color:#ffffff;
    padding-right: 70px;
    font-size: 18px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 570px;
}
#home_photo{
    width: 40%;
    height: 60%;
    margin-top: 90px;
    border-radius: 40px;
    box-shadow: 1px 1px 100px 20px #ffffff78;
}
.home div{
    width: 42%;
    height: 280px;
}
.home div h1{
    font-size: 4em;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
}
.home h2{
    font-size: 2em;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 8px;
    text-transform: capitalize;
}
#social{
    width: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 50px;
}
#social img{
    width: 45px;
    height: 45px;
}
span{
    margin: 50px 0px;
}
main{
    width: 100%;
    height: 520px;
    background-color:rgba(255, 255, 255, 0.897);
    color: #000000;
}
main ::selection{
    background-color: #000000;
    color: #ffffff;
  }
.product{
    display: flex;
    align-items: center;
    margin: 30px;
}
main h1{
    font-size: 4rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 55px;
}
#mobiles,
#TVs,
#large_home_appliances,
#small_home_appliances{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
}

.sign{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 1.5rem;
}

.sign img{
    width: 470px;
    margin-right: -70px;
}
#txtbox2{
    margin-left: 10px;
}
#txtbox3{
    margin-left:50px;
}
#txtbox4{
    margin-left: 20px;
}
button{
    width: 140px;
    height: 35px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    font-family: math;
    text-transform: capitalize;
    color: #000000;
    margin-left: 150px;
    margin-top: 10px;
}



